.App {
  font-family: "Teko", sans-serif;
}

.container {
  border: 2px solid #dadde1;
  box-shadow: 3px 5px 10px #e9b9b9;
  background-color: whitesmoke;
  border-radius: 2px;
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
}

.Footer {
  text-align: center;
  margin: 10px;
}
