.App {
  font-family: "Teko", sans-serif;
  margin: 0 auto;
  width: 600px;
  text-align: left;
}

.container {
  border: 2px solid #dadde1;
  box-shadow: 3px 5px 10px #e9b9b9;
  background-color: whitesmoke;
  border-radius: 2px;
  max-width: 30%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.Footer {
  margin: 10px;
}
