.Weather input {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  box-shadow: 2px 3px #e9b9b9;
  margin-left: 21px;
}
.Weather h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 28.8px;
  display: block;
  color: #7e7e7e;
}

.Weather ul {
  color: #7e7e7e;
  list-style-type: none;
  font-size: 20px;
  padding: 0px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 100px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 30px;
}

.Weather .WeatherInfo canvas {
  float: left;
  margin-right: 10px;
  height: 100px;
  padding: 5px;
}
